<a href="/post/{{id}}" class="post-card-user">
  <div class="post-image-section-user">
    <img src="{{post_image}}" class="post-card-image-user">
    <img src="images/post-image-9.jpg" class="post-card-image">
  </div>

  <div class="post-card-text-user">
    <h3 class="post-title-user">{{title}}</h3>
    <span class="date-posted">Posted on {{format_date created_at}}</span>
  </div>
</a>