<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
        crossorigin="anonymous"
      />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Montserrat:wght@500;800&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
     <header>

      <a class="logo-button" href="/">TECH<br> BLOG</TECH></a>

      <nav>
        {{#if loggedIn}}
          <a href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style">Log Out</button>
        {{else}}
          <a href="/login">Log In</a>
        {{/if}}
      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>

    <footer>
      <h3 class="footer-cta">START POSTING</h3>

      {{#if loggedIn}}
          <a class="footer-button" href="/dashboard">ADD NEW POST</a>
      {{else}}
          <a class="footer-button" href="/login">LOG IN</a>
      {{/if}}

    </footer>
  </div>

  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>