* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* HEADER FOR ALL PAGES */
header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

/* MAIN BODY FOR ALL PAGES */
main {
  flex: 1;
}


/* USER DATA */
.user-image {
  width: 30px;
}
a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #174986;
  border: 0;
  padding: 12px 29px 12px 29px;
  color: white;
  font-size: .95rem;
  font-weight: bold;
  transition: background-color .2s;
  cursor: pointer;
  border-radius: 2px;
}

button:hover {
  background-color: #2776d6;
}

/* HOMEPAGE POSTS */
.multi-post-layout {
  padding: 2% 0%;
}

.post-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 80px 40px;
  list-style: none;
}

.post-card {
  display: grid;
  grid-template-columns:330px;
  grid-template-rows: 210px 180px 100px;
  grid-template-areas:"image" "text" "user";
  color: rgb(90, 89, 89);
  background-color:white;
  text-align: left;
  margin: 20px;
  text-decoration: none;
}

.post-card:hover {
  color: rgb(90, 89, 89);
  box-shadow: 1px 1px 6px rgba(0,0,0,0.35);
}

.image-section {
  overflow: hidden;
}

.post-card-image {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform .4s ease-in;
  object-fit: cover;
}

.post-card:hover .post-card-image {
  transform: scale(1.2);
}

.post-card-text {
  grid-area: text;
  padding: 0px 20px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.post-card-text h3 {
  font-weight: 700;
}

.post-card-user {
  grid-area: user;
  padding: 30px 20px;
}

/* SINGLE-POST PAGE */

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.single-post-layout {
  padding: 2% 15%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

/* POSTS */
.post-image {
  width: 100%;
}

.post-full {
  margin-bottom: 2%;
  line-height: 150%;
}

.post-full .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.post-text {
white-space: pre-line;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

/* USER COMMENTS */
.comment-form {
  margin-bottom: 5%;
}

.comment-form textarea {
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 3px;
  border: 0 none;
  padding: 1rem;
  white-space: pre-line;
}

::placeholder {
  color:rgb(165, 162, 162);

}

.comment {
  margin-bottom: 1%;
  width: 100%;
  font-weight:lighter;
  font-size: 1rem;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 3px;
  border: 0 none;
  padding: 1rem 2rem;
  margin: 25px 0;
}

.comment-text {
  padding-bottom: 0;
  white-space:pre-line;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}