* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

body {
  background: rgb(240,240,240);
  background: radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(230,230,230,1) 100%);
}

/* HEADER FOR ALL PAGES */
header {
  background: rgb(45,45,45);
  background: radial-gradient(circle, rgba(45,45,45,1) 0%, rgba(29,29,29,1) 56%, rgba(36,36,36,1) 100%);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
}

.logo-button {
  padding: 10px;
  border: 3px solid white;
  font-size: 1.2rem;
  margin: 0;
}

.logo-button:hover {
  background-color: rgb(177, 177, 177);
  background-color:rgba(209, 206, 206, .2);
  color: rgb(99, 230, 223);
}


/* MAIN BODY FOR ALL PAGES */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOGIN PAGE */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:50px;
}


.login-form, .signup-form, .user-profile-form {
  background-color: rgb(253, 253, 253);
  padding: 50px 40px;
  border-radius: 3px;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
  min-width: 30vw;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: center;
}

.login-form h3, .signup-form h3, .user-profile-form h3 {
  font-size: 1.4rem;
  font-family: var(--cta-font);
}

.login-form > div, .signup-form > div, .user-profile-form > div {
  padding: 10px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
}

.login-form input, .signup-form input, .user-profile-form input {
  color: rgb(59, 59, 59);
  font-size: 1.06rem;
  border: 2px solid rgb(219, 219, 219);
  padding: 15px;
  border-radius: 3px;
  min-width: 20rem;
}

input:focus {
  outline: none;
  border: 3px solid #3486eb;
}

.login-form button, .signup-form button, .user-profile-form button {
  font-size: 1.06rem;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  padding: 15px;
  background: linear-gradient(343deg, rgba(64,222,169,1) 0%, rgba(51,187,142,1) 100%);
  min-width: 20rem;
  transform: scale(1);
  transition: background-image 1s, transform .5s;
  cursor: pointer;
  border: none;
  outline: none;
}

.login-form button:hover, .signup-form button:hover, .user-profile-form button:hover {
  background: linear-gradient(343deg, rgba(62,189,146,1) 0%, rgba(29,112,85,1) 100%);
  transform: scale(1.1);
}

form label {
  display: block;
}


/* DASHBOARD */
.user-details-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 10px #00000029;
  padding: 5% 5%;
  font-size: 1.1rem;
  width: 100%;
}

/* Reduce user details padding on larger screens */
@media screen and (min-width: 600px) {
  .user-details-container {
    padding: 1.5% 5%;
  }
}

.user-image {
  width: 30px;
}

.user-image-dashboard-container {
  contain:content;
  padding: 0px 20px 0px 0px;
}

.user-image-dashboard {
  background-color: rgb(110, 216, 235);
  padding: 10px;
  border-radius: 50%;
  width: 100px;
}

.details-label {
  font-weight: bold;
}

.dashboard-post-item {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: yellow;
}

.edit-link {
  display: 1 1 auto;
  background-color:rgb(63, 0, 63);
  padding: 20px;
  margin: 0;
  height: 100%;
  color: white;
}

.post-card-user {
  display: flex;
  color: rgb(90, 89, 89);
  background-color:white;
  text-align: left;
  margin: 20px 20px 20px 0;
  text-decoration: none;
  width: 70vw;
}

/**** */


.post-image-section-user {
  overflow: hidden;
  width: 250px;
}

.post-card-image-user {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform .4s ease-in;
  object-fit: cover;
}

.post-card:hover .post-card-image {
  transform: scale(1.2);
}

.post-card-text {
  grid-area: text;
  padding: 0px 20px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.post-card-text h3 {
  font-weight: 700;
}

.post-card-user {
  grid-area: user;
  padding: 20px 20px;
  /* border-top: solid 1px #174986; */
}

.date-posted {
  font-family: none;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 500px;
}

/**** */



a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #174986;
  border: 0;
  padding: 12px 29px 12px 29px;
  color: white;
  font-size: .95rem;
  font-weight: bold;
  transition: background-color .2s;
  cursor: pointer;
  border-radius: 2px;
}

button:hover {
  background-color: #2776d6;
}

/* HOMEPAGE POSTS */
.multi-post-layout {
  padding: 2% 0%;
}

.post-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 80px 40px;
  list-style: none;
}

.post-card {
  display: grid;
  grid-template-columns:330px;
  grid-template-rows: 210px 180px 120px;
  grid-template-areas:"image" "text" "user";
  color: rgb(90, 89, 89);
  background-color:white;
  text-align: left;
  margin: 20px;
  text-decoration: none;
}

.post-card:hover {
  color: rgb(90, 89, 89);
  box-shadow: 1px 1px 6px rgba(0,0,0,0.35);
}

.image-section {
  overflow: hidden;
}

.post-card-image {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform .4s ease-in;
  object-fit: cover;
}

.post-card:hover .post-card-image {
  transform: scale(1.2);
}

.post-card-text {
  grid-area: text;
  padding: 0px 20px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.post-card-text h3 {
  font-weight: 700;
}

.post-card-user {
  grid-area: user;
  padding: 20px 20px;
  /* border-top: solid 1px #174986; */
}

.date-posted {
  font-family: none;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 500px;
}


/* SINGLE-POST PAGE */
textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.single-post-layout {
  padding: 2% 15%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 94%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

/* POSTS */
.post-image {
  width: 100%;
}

.post-full {
  margin-bottom: 2%;
  line-height: 150%;
  padding: 2rem 2rem;
  background-color: white;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: .05rem;
}

.post-full .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.post-text {
  white-space: pre-line;
  font-size: 1.1rem;
  line-height: 2rem;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

/* USER COMMENTS */
.comment-form {
  margin-bottom: 5%;
}

.comment-form textarea {
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 3px;
  border: 0 none;
  padding: 1rem;
  white-space: pre-line;
}

::placeholder {
  color:rgb(165, 162, 162);

}

.comment {
  margin-bottom: 1%;
  width: 100%;
  font-weight:lighter;
  font-size: 1rem;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 3px;
  border: 0 none;
  padding: 1rem 2rem;
  margin: 25px 0;
}

.comment-text {
  padding-bottom: 0;
  white-space:pre-line;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  background: rgb(45,45,45);
  background: radial-gradient(circle, rgba(45,45,45,1) 0%, rgba(29,29,29,1) 56%, rgba(36,36,36,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1%;
  height: 50vh;
  font-size: 110%;
  color: white;
}

.footer-cta {
  font-size: 1.7rem;
}

.footer-button {
  padding: 20px;
  border: 3px solid white;
}

.footer-button:hover {
  background-color: rgb(177, 177, 177);
  background-color:rgba(209, 206, 206, .2);
  color: rgb(99, 230, 223);
}